*{
    font-family: 'Roboto', sans-serif;
}

#reader{
    position: absolute;
    top: 159px;
    bottom: 10px;
    /* overflow: hidden; */
}

#feeds{
    background-color:#333;
    color:#fffddd;
    padding: 20px 5px;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    bottom: 2px;
    left: 0px;
}

#feeds form{
    margin-bottom: 35px;
}

#feeds form input{
    width:65%;
    background-color: #ccc
}

#feeds li{
    cursor: pointer;
    margin-bottom:3px;
}

.removeFeed{
    display: none;
}

#feeds ul li ul li:hover .removeFeed{
    display: block;
}

#feeds img{
    margin: 2px;
}

#feed-entries{
    position: absolute;
    left: 220px;
    top: 0px;
    bottom: 2px;
    width:500px;
    overflow: hidden;
    padding-right: 10px;
}

#feed-entries h1{
    font-size:18px;
    padding: 0px;
    margin-bottom: 0px;
}

#feed-entries h2{
    font-size:14px;
    padding:0px;
    margin-bottom: 0px;
    margin-left: 15px
}

#feed-entries div{
    cursor: pointer;
}

#feed-entries ul{
    overflow-y: auto;
    position: absolute;
    top: 70px;
    bottom: 2px;
    width:500px;
}

#feed-entries li{
    margin: 0px 0px;
    padding: 20px 10px;
    font-size: 16px;
    border-top:1px solid #aaa;
}

#feed-entries li:hover{
    background-color: #eee;
    font-weight: bold
}

/*
#feed-entries div:hover{
    text-decoration: underline;
}*/

.published{
    font-style: italic;
}

#feed-story{
    overflow-y: auto;
    position: absolute;
    top: 0px;
    bottom: 15px;
    right: 0px;
    left: 800px;
    padding-right:20px;
}

#feed-story div{
    margin-top:10px;
}

#feed-story h1{
    font-size:18px;
    padding: 0px;
    margin-bottom: 0px;
}

#feed-story h2{
    font-size:16px;
    padding:0px;
    margin-top: 0px;
}

.folder{

}

.feeds{
    padding-left:17px;
}

footer{
    border:1px solid #e3e3e3;
    font-size:11px;
    background-color:#f5f5f5;

    position: absolute;
    bottom: 0px;
    width: 100%;

}

.pointer{
    cursor:pointer;
}