*{
    font-family: 'Roboto', sans-serif;
}

#reader{
    position: absolute;
    top: 159px;
    bottom: 10px;
    /* overflow: hidden; */
}

#feeds{
    background-color:#333;
    color:#fffddd;
    padding: 0px 5px;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    bottom: 2px;
    left: 0px;
    width:250px;
}

#feeds fieldset{
    border: 0px;
}

#feeds legend{
    font-size:14px;
    color:#eee;
    border:0px;
    margin: 0px;
}

#feeds form{
    margin-bottom: 0px;
}

#feeds form input{
    width:65%;
    background-color: #ccc
}

#feeds li{
    cursor: pointer;
    margin-bottom:3px;
}

.removeFeed{
    display: none;
}

.removeFeed:hover{
    color:red;
}

#feeds ul li ul li:hover .removeFeed{
    display: block;
}

.removeCategory{
    display: none;
}

.removeCategory:hover{
    color:red;
}

.folder:hover .removeCategory{
    display: block;
}


#feeds img{
    margin: 2px;
}

#feed-entries{
    position: absolute;
    left: 220px;
    top: 0px;
    bottom: 2px;
    width:500px;
    overflow: hidden;
    padding-right: 10px;
}

#feed-entries h1{
    font-size:24px;
    padding: 0px;
    margin-bottom: 0px;
}

#feed-entries h2{
    font-size:14px;
    padding:0px;
    margin-bottom: 0px;
    margin-left: 15px
}

#feed-entries div{
    cursor: pointer;
}

#feed-entries ul{
    overflow-y: auto;
    position: absolute;
    top: 70px;
    bottom: 2px;
    width:500px;
}

#feed-entries li{
    margin: 0px 0px;
    padding: 10px 10px;
    font-size: 16px;
    border-top:1px solid #aaa;
    border-left: 3px solid white;
}

#feed-entries li:hover{
    background-color: #eee;
    font-weight: bold;
    border-left:3px blue solid;
}

/*
#feed-entries div:hover{
    text-decoration: underline;
}*/

.published{
    font-style: italic;
    margin-bottom: 6px
}

.feed-published{
    font-size:.7em;
}

#feed-story{
    overflow-y: auto;
    position: absolute;
    top: 0px;
    bottom: 15px;
    right: 0px;
    left: 800px;
    padding-right:20px;
}

#feed-story div{
    margin-top:10px;
}

#feed-story h1{
    font-size:18px;
    padding: 0px;
    margin-bottom: 0px;
}

#feed-story h2{
    font-size:16px;
    padding:0px;
    margin-top: 0px;
}

.folder{
    margin:15px 0px 3px 2px;
    font-weight: bold;
    /*border-bottom: 1px solid #eee*/
}

.feeds{
    padding-left:17px;
}

footer{
    border:1px solid #e3e3e3;
    font-size:11px;
    background-color:#f5f5f5;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;

}
.on-drag-enter{
    background-color: #444; 
}

.errorMessage{
    height:16px;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.pointer{
    cursor:pointer;
}

.add{
    margin:5px;
    color:#95B9C7;
}


::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
