*{
    font-family: 'Roboto', sans-serif;
}

#feeds{
    background-color:#333;
    color:#fffddd;
    min-height: 500px;
    padding: 20px 5px;
}

#feeds form{
    margin-bottom: 35px
}

#feeds form input{
    width:65%;
    background-color: #ccc
}

#feeds li{
    cursor: pointer;
    margin-bottom:3px;
}

#feeds img{
    margin: 2px
}

#feed-entries{
    border-right: 1px solid #333;
    padding-right: 10px;
}

#feed-entries h1{
    font-size:18px;
    padding: 0px;
    margin-bottom: 0px;
}

#feed-entries h2{
    font-size:16px;
    padding:0px;
    margin-top: 0px;
}

#feed-entries div{
    cursor: pointer;
}

#feed-entries ul{
    overflow-y: auto;
    height: 200px
}

#feed-entries div:hover{
    text-decoration: underline;
}

.published{
    font-style: italic;
}

#feed-story{

}

#feed-story div{
    margin-top:10px;
}

#feed-story h1{
    font-size:18px;
    padding: 0px;
    margin-bottom: 0px;
}

#feed-story h2{
    font-size:16px;
    padding:0px;
    margin-top: 0px;
}



/*.row-fluid{
    margin-bottom:10px;
}


.feed-container{
    border:1px solid #e3e3e3;
    font-size:12px;
}

.feed-header{
    border-bottom:1px solid #e3e3e3;
    padding:2px 0px 2px 5px;
    background-color:#f5f5f5;
    height:18px;
}

.feed-header>a{
    color:#333;
}

.feed-header-actions{
    margin-right:5px;
    display:none;
}

.feed-header-actions> i {
    margin-right:2px;
    margin-left:2px;
}

.feed-header:hover > .feed-header-actions{
    display: block;
}

.feed-body{
    padding:12px;
}

.feed-body>ul{

}

.feed-body a{
    
}*/

footer{
    border:1px solid #e3e3e3;
    font-size:11px;
    background-color:#f5f5f5;
}


.pointer{
    cursor:pointer;
}