  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{currentConditions.display_location.full}}</h3>
  </div>
  <div class="modal-body">
    <div data-fade="1" ngModel="activeTab" bs-tabs>
      <div ng-repeat="alert in alerts.alerts" data-title="{{alert.description}}">
        <p>
          <strong>{{alert.description}}</strong> 
          <em class="muted">Expires: {{alert.expires}}</em> 
          <p>
            {{alert.message}}
          </p>
        </p>
      </div>
    </div>    
  </div>
  <div class="modal-footer">
    <a href="#" data-dismiss="modal" class="btn">Close</a>
  </div>
