<!-- Feeds -->


  <div class="row-fluid">
    <div class="span2" id="feeds">
      <form class="form-inline" ng-submit="addFeed()">
        <input type="text" ng-model="feedUrl">
        <button class="btn btn-small btn-primary"><i class="icon-plus"></i> Add</button>
        <div>{{message}}</div>
      </form>
      <ul class="unstyled">
        <li ng-repeat="feed in feeds" ng-click="showFeedSummary(feed.feed_url)">
            
          <img ng-src="{{feed.url}}/favicon.ico" err-src="../app/img/rss_icon.gif" style="height:16px; width:16px">
          {{feed.title}}
        </li>
      </ul>

      <!--Sidebar content-->
    </div>
    <div class="span4" id="feed-entries">
        
        <h1><a ng-href="{{feedData.link}}">{{feedData.title}}</a></h1>
        <h2>{{feedData.description}}</h2>

        <ol class="ordered">
          <li ng-repeat="entry in feedData.entries">
            <div ng-click="showFullStory(entry)">
              {{entry.title}}
              
            </div>
          </li>
        </ol>

    </div>
    <div class="span6" id="feed-story">
        <h1><a target="_blank" ng-href="{{story.link}}">{{story.title}}</a></h1>
        <span class="published muted">{{story.publishedDate}}</span>
        <div ng-bind-html-unsafe="story.content"></div>
    </div>
  </div>















<!-- <div ng-init="init()">
  <div data-fade="1" ngModel="activeTab" bs-tabs>
    <div ng-repeat="category in categories" data-title="{{category.title}}">
      <div class="row-fluid"  ng-repeat="row in feedsDataDisplay">
        <div class="span4 feed-container" ng-repeat="feed in row  | filter:{db.category_id:category.category_id} | orderBy:feed.db.position" >
          <div class="feed-header" >
            <div class="pull-left">
              <a href="{{feed.link}}" title="feed.description">{{feed.title}}</a>
            </div>
            <div class="pull-right feed-header-actions">
              <i class="icon-edit" ng-click="getFeed(feed.id)" bs-modal="'partials/modify-feeds-modal.html'"></i>
              <i class="icon-trash" style="color:#b94a48"></i>
            </div>
          </div>
          <div class="feed-body" >
            <ul>
              <li ng-repeat="entry in feed.entries">
                <a href="{{entry.link}}">{{entry.title}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
    <!--End Feeds -->




