<!-- Feeds -->


  <div class="row-fluid" id="reader">

    <div class="span2" id="feeds">
      
      <form class="form-inline" ng-submit="addFeed()">
        <fieldset>
          <legend>Add Feed</legend>
        <input type="text" ng-model="feedUrl" placeholder="Feed URL">
        <button class="btn btn-small btn-primary" ng-disabled="!feedUrl"><i class="icon-plus"></i> Add</button>
        <div>{{message || '&nbsp'}}</div>
        </fieldset>
      </form>
      
      <form class="form-inline" ng-submit="addCategory()">
        <fieldset>
          <legend>Add Category</legend>
        <input type="text" ng-model="category" placeholder="Category Name">
        <button class="btn btn-small btn-primary" ng-disabled="!category"><i class="icon-plus"></i> Add</button>
        <div>{{message || '&nbsp'}}</div>
        </fieldset>
      </form>
      
      <ul class="unstyled">
        <li ng-repeat="(key, value) in feeds">
          <div class="folder"  ui-on-Drop="onDrop($event,$data,key)" data-category-id="getCategoryId(key)"> {{key}} </div>
          <ul class="unstyled feeds">
            <li ng-repeat="feed in value" ui-draggable="true" drag="feed"  ui-on-drop-success="dropSuccessHandler($event,$index, key)"> <!--  -->
              <div class="pull-left" ng-click="showFeedSummary(feed.feed_url)"  >  
                <img ng-src="{{feed.url}}/favicon.ico" err-src="../app/img/rss_icon.gif" style="height:16px; width:16px">
                {{feed.title}}
              </div>
              <div class="pull-right removeFeed" ng-click="confirmDelete(feed.id)">
                <i class="icon-remove-sign"></i>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </li>
      </ul>
      
    </div>

    <div class="span4" id="feed-entries" ng-show="feedData">
        
        <header>  
          <h1 class="pull-left"><a ng-href="{{feedData.link}}" title="{{feedData.description}}">{{feedData.title}}</a></h1>
          <!-- <h2 class="pull-left">{{feedData.description}}</h2> -->
        </header>
        <div class="clearfix"></div>
        <ul class="unstyled">
          <li ng-repeat="entry in feedData.entries">
            <div ng-click="showFullStory(entry)">
              <span class="published mute pull-right feed-published">{{entry.publishedDate}}</span>
              <div class="clearfix"></div>
              {{entry.title}}
             </div>
          </li>
        </ul>

    </div>
    <div  id="feed-story">
        <h1><a target="_blank" ng-href="{{story.link}}">{{story.title}}</a></h1>
        <span class="published muted">{{story.publishedDate}}</span>
        <div ng-bind-html-unsafe="story.content"></div>
    </div>
  </div>

