<!doctype html>
<html lang="en" ng-app="home" ng-cloak>
<head>
  <meta charset="utf-8">
  <title>iTerry</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
   
        <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
   
        <!-- Be sure to leave the brand out there if you want it shown -->
        <a class="brand" href="#">iTerry</a>
   
        <!-- Everything you want hidden at 940px or less, place within here -->
        <div class="nav-collapse collapse" ng-controller="LinksController" ng-init="getAll()">
          <ul class="nav">
            <li ng-Repeat="link in links">
              <a href="{{link.url}}" target="_blank">{{link.title}}</a>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li>
              <a href="#" data-toggle="modal" data-target="#add-modify-feed-modal"><i class="icon-plus"></i> Feed</a>
            </li>
            <li>
              <a href="#" data-toggle="modal" data-target="#add-modify-link-modal"><i class="icon-plus"></i> Link</a>
            </li> 
          </ul>
        </div> 
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12 well">
      <div class="pull-left">
        <form action="http://www.google.com/search">
          <div class="input-append" style="width:700px; margin-top:24px; margin-left:30px" >
            <input class="" name="q" id="search"style="width:100%"  type="text" placeholder="Google that shit">
            <button class="btn btn-primary" type="submit"><i class="icon-search icon-white"></i> Search</button>
          </div>
        </form>
      </div>
      <div class="pull-right"  ng-controller="WeatherController" ng-init="getPosition(true)" style="color:#999999;margin-top:10px;margin-right:10px">
        
        <div class="pull-left" ng-show="!showForecast" >
        
          <div class="pull-left">
            <a href="{{currentConditions.forecast_url}}" target="_blank">
              <img ng-src="{{currentConditions.icon_url}}" class="pull-left"/>
            </a>
            <ul class="pull-left unstyled" style="font-size:10px;margin:10px 20px 0px 5px;">
              <li><span style="font-size:24px">{{ currentConditions.temp_f }}&deg;</span></li>
              <li><span style="font-size:10px">{{currentConditions.display_location.full}}</span></li>
            </ul>
          </div>
      
          <div class="pull-left">
            <ul class="unstyled" style="font-size:10px">
              <li>Feels like {{currentConditions.feelslike_f}}&deg;</li>
              <li>Wind {{ currentConditions.wind_mph }} mph</li>
              <li>Humidity {{ currentConditions.relative_humidity }} </li>
            </ul>
          </div>
        
        </div>

        <div class="pull-left" ng-show="showForecast" style="margin-top:-3px">
          <ul class="unstyled inline">
            <li ng-repeat="day in forecast">
              <ul class="unstyled text-center" style="font-size:11px">
                <li>
                  <img width="50%" height="50%" ng-src="{{day.icon_url}}" />
                </li>
                <li>{{day.date.weekday_short}}</li>
                <li>
                  <span>{{day.high.fahrenheit}}&deg;</span> / <span style="color:#bbb">{{day.low.fahrenheit}}&deg;</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      
        <div class="pull-right" style="padding-left:20px">
          <ul class="unstyled" style="font-size:10px">
            <li class="point  er" >
              <a href="#" bs-modal="'partials/radar-modal.html'"><i class="icon-cloud"></i></a>
            </li>
            <li class="pointer" ng-click="setShowForecast()">
              <i class="icon-calendar"></i>
            </li>
            <li>
              <i class="icon-warning-sign" ng-show="showAlertsIcon" style="color:red"></i>
            </li>
          </ul>
        </div>
      </div>
  
    </div>
  </div>

  <!-- Feeds -->
  <div ng-controller="FeedsController" ng-init="getAll()">
    <div class="row-fluid"  ng-repeat="row in feedsDataDisplay ">
      <div class="span4 feed-container"  ng-repeat="feed in row" >
        <div class="feed-header" >
          <a href="{{feed.link}}" title="feed.description">{{feed.title}}</a>
        </div>
        <div class="feed-body" >
          <ul>
            <li ng-repeat="entry in feed.entries">
              <a href="{{entry.link}}">{{entry.title}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--End-->
<footer class="text-center">
  Copyright 2013 <a href="http://terrymooreii.com">TerryMooreII.com</a>
</footer>


</div> <!--End content-->
         
<div class="modal hide fade" id="add-modify-feed-modal" ng-controller="FeedsController" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Feed</h3>
  </div>
  <div class="modal-body">
    <p>
      <form class="form-horizontal" name="feedform">
        <div class="control-group">
          <label class="control-label" for="inputUrl">Feed Url</label>
          <div class="controls">
            <input type="text" id="inputUrl" placeholder="Url" name="url" ng-model="feed.url" required>
            <span class="pull-right text-error" ng-show="feedform.url.$error.required">Required!</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputUrl">Category</label>
          <div class="controls">
            <input type="text" id="category" placeholder="Category" name="category" ng-model="feed.category" required>
            <span class="pull-right text-error" ng-show="feedform.category.$error.required">Required!</span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPosition">Position</label>
          <div class="controls">
            <input type="number" id="inputPosition" placeholder="Position" name="position" ng-model="feed.position" required>
            <span class="pull-right text-error" ng-show="feedform.position.$error.required">Required!</span>
          </div>
        </div>
      </form>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button ng-click="saveOrUpdate()" type="button" data-dismiss="modal" class="btn btn-primary" aria-hidden="true" ng-disabled="!feedform.$valid">
      <i class="icon-ok icon-white"></i> Save
    </button>
  </div>
</div>



<div class="modal hide fade" id="add-modify-link-modal" ng-controller="LinksController" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Feed</h3>
  </div>
  <div class="modal-body">
    <p>
      <form class="form-horizontal" name="linkform">
        <div class="control-group">
          <label class="control-label" for="inputTitle">Title</label>
          <div class="controls">
            <input type="text" id="title" placeholder="Title" name="category" ng-model="link.title" required>
            <span class="pull-right text-error" ng-show="linkform.category.$error.required">Required!</span>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="inputUrl">Feed Url</label>
          <div class="controls">
            <input type="text" id="inputUrl" placeholder="Url" name="url" ng-model="link.url" required>
            <span class="pull-right text-error" ng-show="linkform.url.$error.required">Required!</span>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label" for="inputPosition">Position</label>
          <div class="controls">
            <input type="number" id="inputPosition" placeholder="Position" name="position" ng-model="link.position" required>
            <span class="pull-right text-error" ng-show="linkform.position.$error.required">Required!</span>
          </div>
        </div>
      </form>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button ng-click="saveOrUpdate()" type="button" data-dismiss="modal" class="btn btn-primary" aria-hidden="true" ng-disabled="!linkform.$valid">
      <i class="icon-ok icon-white"></i> Save
    </button>
  </div>
</div>


<div ng-view></div>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="lib/jquery-1.9.1.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <script src="lib/angularstrap.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  
  <script type="text/javascript">
    google.load("feeds", "1");
  </script>

</body>
</html>
